header section{
  height: 40px;
}
nav{
  position: absolute;
  width: 97%;
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav h1{
float: left;
margin-left: 5%;
}
nav li{
  list-style: none;
  float: right;
  color: #FFFFFF;
  margin-top: 30px;
  margin-right: 30px;
}
nav li a{
  color: #FFFFFF;
}
.Actual{
  text-decoration: none;
}
body{
background: #02010a;
font-family: 'Dancing Script', cursive;
width:97%;
height:90%;
margin: auto;

}
h1{
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #02010a;
}
.ContenedorPrincipal{
  background: #82c3a6;
  width:100%;
  height: 500px;
}
.principal{
  height: 300px;
  width: auto;
}
.contenedorSecundario{
  background: #d5c75f ;
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
}
.Secundario{
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  min-width: 100px;
}
.izquierda{
  float: left;
  height: 200px;
  width: auto;
  transition: 2s;
}
.izquierda:hover {
  transform: rotate(10deg);
}
.derecha{
  float: right;
  height: 200px;
  width: auto;
  transition: 2s;
}
.derecha:hover {
  transform: translate(5px,-10px);
}
.album{
  width: 100%;
  height: 800px;
  background: #d5c75f;
}
.album .contenedor .c1{
  filter: blur(10px);
}
.PrimeraFila .c2{
  filter: grayscale(100%);
}
.SegundaFila .c1 .c3{
  filter: grayscale(100%);
}
.album .contenedor .c3{
  filter: sepia(90%);
}
footer{

  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #C6d5c5;
  font-size: 150%;
}
footer img{
  float: none;
  display: inline;
  width: 30px;
  height: 30px;
}
footer a{
  color: #000000;
}

.contenedor {
	margin: 0;
  padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}
.contenedor div {
  box-sizing: border-box;
  min-width: 100px;
}
.contenedor img{
  height: 100px;
  width: auto;
};
.contenedor .c1{
  width: 33%;
}
.contenedor .c2{
  width: 33%;
}
.contenedor .c3{
  width: 33%;
}
footer.c1 {
	width: 25%;
}
footer.c2 {
  	width: 25%;
}
footer.c3 {
  	width: 25%;
}
footer.c4 {
  	width: 25%;
}

@media only screen and (max-width: 800px) {
  header section{
    height: 58px;
  }

  .principal{
    height: 200px;
  }

  .contenedor .c1{
    width: 100%;
  }
  .contenedor .c2{
    width: 100%;
  }
  .contenedor .c3{
    width: 100%;
  }

  nav h1{
  float: inherit;
  }
  nav li{
    float: absolute;
    margin-top: auto;
    text-align: center;
  }
	footer.c1 {
		width: 100%;
	}
	footer.c2 {
		width: 100%;
	}
	footer.c3 {
		width: 100%;
	}
  footer.c4 {
		width: 100%;
	}
}
