header{
animation-name:animacion;
animation-duration: 2s;
animation-iteration-count: 1;

}
@keyframes animacion {
  0% {margin-top: 150%;}
  60% {margin-top: -5%;}
  100% {margin-top: 0%;}
}
header section{
  height: 40px;
}
nav{
  position: absolute;
  width: 96%;
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
nav h1{
  float: left;
  margin-left: 5%;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #02010a;
}
nav li{
  list-style: none;
  float: right;
  color: #FFFFFF;
  margin-top: 30px;
  margin-right: 30px;
}
nav li a{
  color: #FFFFFF;
}
.Actual{
  text-decoration: none;
}
body{
  background: #02010a;
  font-family: 'Dancing Script', cursive;
  width:96%;
  height:90%;
}
img{
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.ContenedorPrincipal{
  background: #82c3a6;
  width:100%;
  height: 500px;
  display: table;
}
.ContenedorPrincipal div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.principal{
  height: 400px;
  width: auto;
}
.contenedorSecundario{
  background: #d5c75f ;
  width: 100%;
  height: 500px;
  display: table;
}
.contenedorSecundario p{
  font-size: 30px;
  text-decoration: underline;
  font-weight: bolder;
}
.Secundario{
  display: block;
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.izquierda{
  height: auto;
  width: 500px;
  transition: .5s;

}
.izquierda:hover {
  transform: rotate(10deg);
}
.derecha{
  height: auto;
  width: 500px;
  transition: .5s;
}
.Secundario .c1{
  text-align: center;
}
.Secundario .c2{
  text-align: center;
}
.derecha:hover {
  transform: translate(5px,-10px);
}
.album{

  width: 100%;
  height: auto;
  background: #d5c75f;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.album img{
  text-shadow: 2px 2px 2px #02010a;
  width: 400px;
  height: auto;
}
.album li{
  text-decoration: none;
  list-style: none;
  margin: 3%;
}
.caja1 {
  filter: blur(10px);
}
.caja2, .caja4, .caja6{
  filter: grayscale(100%);
}
.caja3{
  filter: sepia(90%);
}
footer{
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #C6d5c5;
  font-size: 150%;
}
footer img{
  float: none;
  display: inline;
  width: 30px;
  height: 30px;
}
footer a{
  color: #000000;
}

footer div .c3 img{
  width: 40px;
  height: 40px;
}
.contenedor {
	margin: 0;
  padding: 0;
  width: 100%;
	display: flex;
	flex-flow: row wrap;
}
footer .c1 {
	width: 24%;
}
footer .c2 {
  	width: 24%;
}
footer .c3 {
  	width: 24%;
}
footer .c4 {
  	width: 24%;
}

@media only screen and (max-width: 800px) {

  header section{
      height: 58px;
    }
    nav h1{
    text-align: center;
    float: inherit;
    }
    nav li{
      margin-top: auto;
      ma
    }
  .ContenedorPrincipal{
    height: 300px;
    width: 100%;
  }
  .principal{
    height: 200px;
  }
  .Secundario{
    display: block;
    width: 100%;
    height:auto;
    align-items: center;
  }
  .Secundario .c1{
    width: 96%;
    height: auto;
  }
  .Secundario .c1{
    width: 100%;
    height: auto;
    padding-top: 5%;
  }
  .Secundario .c2{
    padding-top: 5%;
    order: 2;
    width: 100%;
    height: auto;
  }
  .izquierda{
    width: 90%;
  }
  .derecha{
    width: 90%;
  }
  .album{
    height: 1400px;
  }
  .album img{
    height: 200px;
    width: auto;
  }
  footer.c1 {
  	width: 100%;
  }
  footer.c2 {
  	width: 100%;
  }
  footer.c3 {
  	width: 100%;
  }
  footer.c4 {
    width: 100%;
  }
}
